<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>ReactProject - Payement</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="../../css/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h2>Paiement</h2>
            <p class="lead">Vous allez recevoir un sms sur votre numéro de téléphone, veuillez le spécifier ci-dessous.</p>
        </div>

        <div class="row replace">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Code</label>
                    <input name="code" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">Code reçus par SMS.</small>
                </div>
                
                <button type="submit" class="btn btn-primary">Confirmer</button>
            </form>
        </div>

        <div class="row awaiting-success" style="display: none;">
            Le paiement à été validé, redirection en cours.<br />
            <img height="50" src="../../img/preloader.gif" alt="preloader">
        </div>

        <div class="row awaiting-error" style="display: none;">
            Le paiement à échoué, retour à la boutique, redirection en cours.
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017-2020 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
    <script src="../../js/jquery.min.js"></script>
    <script>

        $('form').on('submit', function(e) {
            e.preventDefault();

            var code = $('input[name="code"]').val();

            if(code == 78370) {
                $('.replace').hide();
                $('.awaiting-success').removeAttr('style');
            } else {
                $('.replace').hide();
                $('.awaiting-error').removeAttr('style');
            }
        });

    </script>
</body>

</html>