<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Jekyll v4.0.1">
	<title>ReactProject - Payement</title>

	<!-- Bootstrap core CSS -->
	<link href="../../css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	
	<meta name="theme-color" content="#563d7c">


	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
	<!-- Custom styles for this template -->
	<link href="../../css/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">
	<div class="container">
		<div class="py-5 text-center">
			<img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
			<h2>Paiement</h2>
			<p class="lead">Merci de procéder au paiement, si toutefois vous ne souhaitez plus finaliser le paiement, veuillez retourner sur le site principal.</p>
		</div>

		<div class="row">
			<div class="col-md-4 order-md-2 mb-4">
				<h4 class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-muted">Votre panier</span>
					<span class="badge badge-secondary badge-pill">{{total}}</span>
				</h4>
				<ul class="list-group mb-3">
					{{#transaction.products}}
						<li class="list-group-item d-flex justify-content-between lh-condensed">
							<div>
								<h6 class="my-0">{{nom_product}} x{{quantity}}</h6>
								<small class="text-muted">{{desc_product}}</small>
							</div>
							<span class="text-muted">{{price}}€</span>
						</li>
					{{/transaction.products}}
					<li class="list-group-item d-flex justify-content-between">
						<span>Total (EUR)</span>
						<strong>{{transaction.price}}€</strong>
					</li>
				</ul>
			</div>
			<div class="col-md-8 order-md-1">
				<h4 class="mb-3">Billing address</h4>
				<form class="needs-validation" method="post" action="/transaction/show/{{transaction.id}}">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="firstName">Prénom</label>
							<input name="first_name" type="text" class="form-control" id="firstName" placeholder="" value="" required>
							<div class="invalid-feedback">
								Valid first name is required.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="lastName">Nom de famille</label>
							<input name="last_name" type="text" class="form-control" id="lastName" placeholder="" value="" required>
							<div class="invalid-feedback">
								Valid last name is required.
							</div>
						</div>
					</div>

					<div class="mb-3">
						<label for="email">Email <span class="text-muted">(Optional)</span></label>
						<input name="email" type="email" class="form-control" id="email" placeholder="you@example.com">
						<div class="invalid-feedback">
							Please enter a valid email address for shipping updates.
						</div>
					</div>

					<div class="mb-3">
						<label for="address">Adresse</label>
						<input name="address" type="text" class="form-control" id="address" placeholder="1234 Main St" required>
						<div class="invalid-feedback">
							Please enter your shipping address.
						</div>
					</div>

					<div class="mb-3">
						<label for="address2">Adresse n°2 <span class="text-muted">(Optional)</span></label>
						<input name="address2" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
					</div>

					<div class="row">
						<div class="col-md-5 mb-3">
							<label for="country">Pays</label>
							<select name="country" class="custom-select d-block w-100" id="country" required>
								<option value="">Choisissez...</option>
								<option value="france">France</option>
								<option value="usa">United States</option>
							</select>
							<div class="invalid-feedback">
								Please select a valid country.
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="state">Région</label>
							<select name="state" class="custom-select d-block w-100" id="state" required>
								<option value="">Choisissez...</option>
								<option value="idf">Ile-de-france</option>
								<option value="california">California</option>
							</select>
							<div class="invalid-feedback">
								Please provide a valid state.
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<label for="zip">Code Postal</label>
							<input name="zipcode" type="text" class="form-control" id="zip" placeholder="" required>
							<div class="invalid-feedback">
								Zip code required.
							</div>
						</div>
					</div>
					<hr class="mb-4">
					<div class="custom-control custom-checkbox">
						<input name="same_address" type="checkbox" class="custom-control-input" id="same-address">
						<label class="custom-control-label" for="same-address">L'adresse d'envoie est la même que l'adresse de facturation</label>
					</div>
					<hr class="mb-4">

					<h4 class="mb-3">Paiement</h4>

					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="cc-name">Nom du titulaire</label>
							<input name="displayed_name" type="text" class="form-control" id="cc-name" placeholder="" required>
							<small class="text-muted">Le nom complet est nécessaires</small>
							<div class="invalid-feedback">
								Name on card is required
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="cc-number">Credit card number</label>
							<input name="credit_card" type="text" class="form-control" id="cc-number" placeholder="" required>
							<div class="invalid-feedback">
								Credit card number is required
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="cc-expiration">Expiration</label>
							<input name="expiration" type="text" class="form-control" id="cc-expiration" placeholder="" required>
							<div class="invalid-feedback">
								Expiration date required
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<label for="cc-cvv">CVV</label>
							<input name="cvv" type="text" class="form-control" id="cc-cvv" placeholder="" required>
							<div class="invalid-feedback">
								Security code required
							</div>
						</div>
					</div>
					<hr class="mb-4">
					<button class="btn btn-primary btn-lg btn-block" type="submit">Procéder au paiement</button>
				</form>
			</div>
		</div>

		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">&copy; 2017-2020 Company Name</p>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="#">Privacy</a></li>
				<li class="list-inline-item"><a href="#">Terms</a></li>
				<li class="list-inline-item"><a href="#">Support</a></li>
			</ul>
		</footer>
	</div>
</body>

</html>